*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-section{
  display: flex;
  flex-direction: column;

  a{
    text-decoration: none;
  }


  .promo-bar{
    width: 100%;
    height: 4.5vh;
    background: #E62B00;
    //align-items: center;


    .promo-bar-centre{
      margin: auto;
      color: white;
      width: 60%;
      height: 100%;
      font-size: 15px;
      font-weight: 700;
      padding: 0 40px;
      font-family: "Meta, Arial, Helvetica, sans-serif";
      letter-spacing: -0.2px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

    }
  }



  .functions{
    font-family: "Meta-Media, Arial, Helvetica, sans-serif";
    font-size: .75rem;
    font-weight: bold;
    text-decoration: none;
    height: 5vh;
    color: #616161;
    border-bottom: 1px solid #ebebeb;

    .functions-center {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 0 5vh;
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      background: #fafafa;


      .function-1 {
        display: flex;
        list-style: none;
        height: 100%;
        padding: 0;

        li{
          width: 84px;
          height: 100%;
          border-left: 1px solid #ebebeb;
          padding: 0;
          //border-right: 1px solid black;
          a{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            color:#616161;
            padding: 15px;

          }

        }
        .li-left{
          border-bottom: 1px solid #0d75cb;
        }

        .li-right{
          border-right: 1px solid #ebebeb;
        }


        .function-1-left {
          margin-right: 10px;


          //border-bottom: 2px solid #0d75cb;
        }
      }


      .function-2{
        padding: 0 10px;
        height: 100%;
        color: black;
        display: flex;
        div{
          margin: auto;
          text-align: center;
          justify-content: center;
          align-items: center;

          a{
            color:#616161;
          }
        }
      }

      .function-3 {
        display: flex;
        //width: 100%;
        padding: 0 10px;
        height: 100%;

        .login{
          display: flex;
          margin-right: 20px;
          align-items: center;
          justify-content: space-around;

          //padding: 0 10px;
          li{
            list-style: none;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
          }

          img{
            margin-left: 5px;
            width: 15px;
          }
        }

      }
    }
  }





  .search-menu{
    position: sticky;
    width: 100%;
    height: 10vh;
    font-family: "Meta, Arial, Helvetica, sans-serif";
    //border: 3px solid pink;

    .search-menu-wrapper{
      //margin: auto;
      //margin: 0 0 30px 40px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      //border: 3px solid green;
      padding: 0 45px;
      text-align: center;
      align-items: center;
      border-bottom: 1px solid #ebebeb;


      .menu-list{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;

        a{
          height: 100%;
          color: black;
          display: flex;
          text-align: center;
          align-items: center;
          font-weight: bold;


        }
        .red-line{
          border-bottom: 2px solid #E62B00;
        }

      }

      .input{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      #input{
        width: 160px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid lightgray;

      }

    }
  }
}


.main-content{

  .page-menu{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    //margin: 30px 30px;
    font-size: 10px;
    margin: 1.25rem 0;
    a{
      color: gray;
      width: 100%;
      height: 100%;
      text-decoration: none;
      padding: 0 30px;
    }

  }


  h2{
    margin: 20px 0;
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.bottom-section{
  height: 60vh;

  background: #ECECEC;
}

