* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  flex-direction: column;
}
.top-section a {
  text-decoration: none;
}
.top-section .promo-bar {
  width: 100%;
  height: 4.5vh;
  background: #E62B00;
}
.top-section .promo-bar .promo-bar-centre {
  margin: auto;
  color: white;
  width: 60%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  padding: 0 40px;
  font-family: "Meta, Arial, Helvetica, sans-serif";
  letter-spacing: -0.2px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.top-section .functions {
  font-family: "Meta-Media, Arial, Helvetica, sans-serif";
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  height: 5vh;
  color: #616161;
  border-bottom: 1px solid #ebebeb;
}
.top-section .functions .functions-center {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 5vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #fafafa;
}
.top-section .functions .functions-center .function-1 {
  display: flex;
  list-style: none;
  height: 100%;
  padding: 0;
}
.top-section .functions .functions-center .function-1 li {
  width: 84px;
  height: 100%;
  border-left: 1px solid #ebebeb;
  padding: 0;
}
.top-section .functions .functions-center .function-1 li a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #616161;
  padding: 15px;
}
.top-section .functions .functions-center .function-1 .li-left {
  border-bottom: 1px solid #0d75cb;
}
.top-section .functions .functions-center .function-1 .li-right {
  border-right: 1px solid #ebebeb;
}
.top-section .functions .functions-center .function-1 .function-1-left {
  margin-right: 10px;
}
.top-section .functions .functions-center .function-2 {
  padding: 0 10px;
  height: 100%;
  color: black;
  display: flex;
}
.top-section .functions .functions-center .function-2 div {
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.top-section .functions .functions-center .function-2 div a {
  color: #616161;
}
.top-section .functions .functions-center .function-3 {
  display: flex;
  padding: 0 10px;
  height: 100%;
}
.top-section .functions .functions-center .function-3 .login {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: space-around;
}
.top-section .functions .functions-center .function-3 .login li {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.top-section .functions .functions-center .function-3 .login img {
  margin-left: 5px;
  width: 15px;
}
.top-section .search-menu {
  position: sticky;
  width: 100%;
  height: 10vh;
  font-family: "Meta, Arial, Helvetica, sans-serif";
}
.top-section .search-menu .search-menu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.top-section .search-menu .search-menu-wrapper .menu-list {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.top-section .search-menu .search-menu-wrapper .menu-list a {
  height: 100%;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: bold;
}
.top-section .search-menu .search-menu-wrapper .menu-list .red-line {
  border-bottom: 2px solid #E62B00;
}
.top-section .search-menu .search-menu-wrapper .input {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section .search-menu .search-menu-wrapper #input {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.main-content .page-menu {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin: 1.25rem 0;
}
.main-content .page-menu a {
  color: gray;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0 30px;
}
.main-content h2 {
  margin: 20px 0;
  font-size: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bottom-section {
  height: 60vh;
  background: #ECECEC;
}

/*# sourceMappingURL=style.css.map */
